<% layout("layouts/boilerplate.ejs") %>

<div class="row">
  <h1 class="text-center">Edit Workout Plan</h1>
  <div class="col-6 offset-3">
    <form action="/workoutplans/<%= workout._id %>?_method=PUT" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="workout[title]" value="<%= workout.title %>" required/>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="summary">Description</label>
            <textarea class="form-control" id="summary" name="workout[summary]" rows="4"><%= workout.summary %></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="category">Category</label>
            <select class="form-select" name="workout[category]" id="category" required>
              <option selected disabled value="">Choose...</option>
              <% for (let category of categories) {%>
              <option value="<%= category %>" <%= workout.category === category ? "selected":"" %>><%= category %></option>
              <% } %>
            </select>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="gender">Focused For</label>
            <select class="form-select" name="workout[gender]" id="gender" required>
              <option selected disabled value="">Choose...</option>
              <% for (let gender of genders) {%>
              <option value="<%= gender %>" <%= workout.gender === gender ? "selected":"" %>><%= gender %></option>
              <% } %>
            </select>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="daysPerWeek">Days Per Week</label>
            <select class="form-select" name="workout[daysPerWeek]" id="daysPerWeek" required>
              <option selected disabled value="">Choose...</option>
              <% for (let days of daysPerWeek) {%>
              <option value="<%= days %>" <%= workout.daysPerWeek === days ? "selected":"" %>><%= days %></option>
              <% } %>
            </select>
            <div class="valid-feedback">Looks good!</div>
          </div>
    
          <div class="mb-3">
            <label class="form-label" for="duration">Duration per workout</label>
            <input class="form-control" type="text" id="duration" name="workout[duration]" value="<%= workout.duration %>" required/>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Workout</label>
            <textarea class="form-control" id="description" name="workout[description]" rows="25" required><%= workout.description %></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3"><button class="btn btn-warning">Update</button>
            <a href="/workoutplans/<%= workout._id %>" class="btn btn-danger">Cancel</a>
          </div>
    </form>
  </div>
</div>

<script>
  tinymce.init({
    selector: '#description',
    hidden_input: false,
    readonly: false,
  });
</script>