<% layout("layouts/boilerplate.ejs") %>
<div class="row">
  <h1 class="text-center">Edit Workout Plan</h1>
  <div class="col-6 offset-3">
    <form action="/workoutplans/<%= workout._id %>?_method=PUT" method="POST">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="workout[title]" value="<%= workout.title %>"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="category">Category</label>
            <select class="form-select" name="category" id="category">
              <% for (let category of categories) {%>
              <option value="<%= category %>" <%= workout.category === category ? "selected":"" %>><%= category %></option>
              <% } %>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label" for="daysPerWeek">Days Per Week</label>
            <select class="form-select" name="daysPerWeek" id="daysPerWeek">
              <% for (let days of daysPerWeek) {%>
              <option value="<%= days %>" <%= workout.daysPerWeek === days ? "selected":"" %>><%= days %></option>
              <% } %>
            </select>
          </div>
    
          <div class="mb-3">
            <label class="form-label" for="duration">Duration per workout</label>
            <input class="form-control" type="text" id="duration" name="workout[duration]" value="<%= workout.duration %>"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="workout[description]" rows="25"><%= workout.description %></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" for="notes">Notes</label>
            <textarea class="form-control" id="notes" name="workout[notes]" rows="4"><%= workout.notes %></textarea>
          </div>
      <button class="btn btn-warning mb-3">Update</button>
    </form>
    <a href="/workoutplans/<%= workout._id %>">Back</a>
    </div>
