<% layout("layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img
        class="card-img-top"
        alt=""
        src="https://www.thefamouspeople.com/profiles/images/david-laid-1.jpg"
      />
      <div class="card-body">
        <h5 class="card-title"><%= workout.title %></h5>
        <small class="card-subtitle mb-2 text-muted">Submitted by User</small>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category : <%= workout.category %></li>
        <li class="list-group-item">Duration : <%= workout.duration %></li>
        <li class="list-group-item">
          Days Per Week : <%= workout.daysPerWeek %>
        </li>
        <li class="list-group-item">
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#descriptionModal"
          >
            View Workout
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="descriptionModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="descriptionModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="descriptionModalLabel">
                    <%= workout.title %>
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p style="white-space: pre-line">
                    <%= workout.description %>
                  </p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-light"
            data-bs-toggle="modal"
            data-bs-target="#notesModal"
          >
            View Notes
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="notesModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="descriptionModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="notesModalLabel">Notes</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p style="white-space: pre-line"><%= workout.notes %></p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-body">
        <a
          class="btn btn-info"
          href="/workoutplans/<%= workout._id %>/edit"
          class="card-link"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/workoutplans/<%= workout._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <a href="/workoutplans/">Back</a>
  </div>
</div>
